<section id="ordersList" class="orders-section">
    <div class="page-container">
        <div class="page-header">
            <h1>All Orders</h1>
            <p>Manage and track customer orders</p>
        </div>
        <div class="orders-container">
            <table class="orders-table">
                <thead>
                    <tr>
                        {{!-- <th scope="col">Image</th> --}}
                        <th scope="col">Date</th>
                        <th scope="col">User</th>
                        <th scope="col">Address</th>
                        <th scope="col">Pincode</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Payment</th>
                        <th scope="col">Status</th>
                        <th scope="col">Update</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}
                    <tr>
                        {{!-- <td><img class="order-product-image" src="{{this.product.[0].thumbnailUrl}}" alt=""></td> --}}
                        <td>{{getStringDate this.date}}</td>
                        <td>{{setIndex this.user}}</td>
                        <td>{{this.deliveryDetails.address}}</td>
                        <td>{{this.deliveryDetails.pincode}}</td>
                        <td>{{this.deliveryDetails.mobile}}</td>
                        <td>₹{{this.totalAmount}}</td>
                        <td>{{this.paymentMethod}}</td>
                        <td><span class="status-badge status-{{this.status}}">{{this.status}}</span></td>
                        <td>
                            <div id="trackProduct">
                                {{#if this.deliveryDetails.trackOrder.stage_od}}
                                <button class="action-btn ship" onclick="updateTrackStatus('{{this._id}}','ship')">Ship Product</button>
                                {{else if this.deliveryDetails.trackOrder.stage_ship}}
                                <button class="action-btn oad" onclick="updateTrackStatus('{{this._id}}','OAD')">Out For Delivery</button>
                                {{else if this.deliveryDetails.trackOrder.stage_oad}}
                                <button class="action-btn delivered" onclick="updateTrackStatus('{{this._id}}','delivered')">Mark Delivered</button>
                                {{else}}
                                <p class="delivered-text">Delivered</p>
                                {{/if}}
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>

<script>
    function updateTrackStatus(orderId,choice){
    $.ajax({
      url:'/admin/updateProductStatus',
      data:{
        _id:orderId,
        option:choice
      },
      method:'post',
       success:()=>{
      $("#ordersList").load(" #ordersList");


      }
    })
  }
</script>
{{!-- 
<script>
     function cancelOrderedProducts(cancelOrderId){
        $.ajax({

            url:'/cancel-ordered-products',
            data:{
                cancelOrderId:cancelOrderId
            },
            method:'post',
            success:(response)=>{
                if(response.removeOrder){
                     alert(response.message)
                     alert(cancelOrderId)
                        $("#ordersList").load(" #ordersList");




                }else{
                      alert(response.message)
                        $("#ordersList").load(" #ordersList");

                    
                }
               
            }
        })
    }
    
</script> --}}