<section>
    <div class="container">
        <div class="row mt-4">
            <a href="admin/add-product" class = 'btn btn-success ml-auto'>Add Product</a>
        </div>
        <table class="table mt-5" id="productsTable">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Company Name</th>
      <th scope="col">email</th>
    {{!-- <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th> --}}
      <th scope="col">Options</th>

    </tr>
  </thead>
  <tbody>
    {{#each sellers}}
    <tr>
      <th scope="row">{{inc @index}}</th>
      <td>{{this.companyName}}</td>
      <td>{{this.email}}</td>
      {{!-- <td>{{this.Category}}</td>
            <td>{{this.productPrice}}</td>
                  <td><img style="width: 50px; height 50px" src="/product-images/{{this._id}}.jpg" alt=""></td> --}}
                  {{#if ../sellerList}}
<td>
  <button class="btn btn-warning" onclick="suspendSeller('{{this._id}}')">Suspend</button>
  <button class="btn btn-danger" onclick="removeSeller('{{this._id}}')">Remove</button>
  {{!-- <a href="/admin/suspend-seller/{{this._id}}" class ="btn btn-warning">Suspend</a>
   <a href="/admin/remove-seller/{{this._id}}" class ="btn btn-danger" onclick="return confirm('Are you sure to remove {{this.companyName}}?')">Remove</a> </td> --}}
{{else}}
<td>
    <button class="btn btn-success" onclick="approveSeller('{{this._id}}')">Approve</button>
    <button class="btn btn-danger" onclick="rejectSeller('{{this._id}}')">Reject</button>
  {{!-- <a href="/admin/accept-seller/{{this._id}}" class ="btn btn-success">Accept</a> --}}
   {{!-- <a href="/admin/reject-seller/{{this._id}}" class ="btn btn-danger" onclick="return confirm('Are you sure to reject {{this.companyName}}?')">Reject</a> </td> --}}
   {{/if}}
    </tr>
    {{/each}}
  

  </tbody>
</table>
    </div>
</section>

<script>
  $( function () {
    $('#productsTable').DataTable();
} );
function approveSeller(adminId){
  $.ajax({
    url:'/admin/approve-seller',
    data:{
      adminId:adminId
    },
    method:'post',
    success:(response)=>{
      if(response.status){
        alert("Seller Approved")
        $("#productsTable").load(" #productsTable");

      }
    }
  })
}
function rejectSeller(adminId){
  $.ajax({
    url:'/admin/reject-seller',
    data:{
      adminId:adminId
    },
    method:'post',
    success:(response)=>{
      if(response.status){
        alert("Seller rejected")
        $("#productsTable").load(" #productsTable");
      }
    }
  })
}
function suspendSeller(adminId){
  $.ajax({
    url:'/admin/suspend-seller',
    data:{
      adminId:adminId
    },        
    method:'post',
    success:(response)=>{
      if(response.status){
        alert("Seller suspended")
        $("#productsTable").load(" #productsTable");
      }
    }  
  })
}
function removeSeller(adminId){
  $.ajax({
    url:'/admin/remove-seller',
    data:{
      adminId:adminId
    },
    method:'post',
    success:(response)=>{
      if(response.status){
        alert("Seller Removed")
        $("#productsTable").load(" #productsTable");
      }
    }
  })
}
</script>

