
{{#if trackOrder}}

<div class="container">
    <div class="order-tracking-container">
        
        <!-- Step 1: Ordered -->
        {{#if trackOrder.ordered.status}}
            <div class="order-tracking completed">
                <span class="is-complete"></span>
                <div class="order-tracking-content">
                    <p>Ordered<span>{{trackOrder.ordered.date}}</span></p>
                </div>
            </div>
        {{else}}
            <div class="order-tracking">
                <span class="is-complete"></span>
                <div class="order-tracking-content">
                    <p>Ordered</p>
                </div>
            </div>
        {{/if}}
        
        <!-- Step 2: Shipped -->
        {{#if trackOrder.shipped.status}}
            <div class="order-tracking completed">
                <span class="is-complete"></span>
                <div class="order-tracking-content">
                    <p>Shipped<span>{{trackOrder.shipped.date}}</span></p>
                </div>
            </div>
        {{else}}
            <div class="order-tracking">
                <span class="is-complete"></span>
                <div class="order-tracking-content">
                    <p>Shipped</p>
                </div>
            </div>
        {{/if}}
        
        <!-- Step 3: Out for Delivery -->
        {{#if trackOrder.outForDelivery.status}}
            <div class="order-tracking completed">
                <span class="is-complete"></span>
                <div class="order-tracking-content">
                    <p>Out for Delivery<span>{{trackOrder.outForDelivery.date}}</span></p>
                </div>
            </div>
        {{else}}
            <div class="order-tracking">
                <span class="is-complete"></span>
                <div class="order-tracking-content">
                    <p>Out for Delivery</p>
                </div>
            </div>
        {{/if}}
        
        <!-- Step 4: Delivered -->
        {{#if trackOrder.delivered.status}}
            <div class="order-tracking completed">
                <span class="is-complete"></span>
                <div class="order-tracking-content">
                    <p>Delivered<span>{{trackOrder.delivered.date}}</span></p>
                </div>
            </div>
        {{else if trackOrder.outForDelivery.status}}
            <div class="order-tracking">
                <span class="is-complete"></span>
                <div class="order-tracking-content">
                    <p>Arriving Today by 6pm<span></span></p>
                </div>
            </div>
        {{else}}
            <div class="order-tracking">
                <span class="is-complete"></span>
                <div class="order-tracking-content">
                    <p>Delivered</p>
                </div>
            </div>
        {{/if}}
        
    </div>
</div>

{{/if}}