
{{#if matchingProducts}}

<section>
  <div id="view-products">

    <div class="container mt-5">
        <div class="row">

        

                {{#each matchingProducts}}
                <a href="/view-product/:{{this._id}}">

                    <div class="col-md-3 p-3" >
                        <div class="card" style="width: 15rem; height: 24rem;">
                            <img class="card-img-top" src="/product-images/{{this._id}}.{{this.imgExt}}" alt="Card image cap" style="height: 12rem;">
                                                        {{!-- <img class="card-img-top" src="/product-images/{{this._id}}0.{{this.extsRender[0]}}" alt="Card image cap" style="height: 12rem;"> --}}

                            <div class="card-body">
                                <h5 class="card-title">{{this.productName}}</h5>
                                <p class="card-text">{{this.productDescription}}</p>
                                <h5 class="card-title">{{this.productPrice}}</h5>
                                <!-- Add other product details here -->
                                <button class="btn btn-primary" onclick="addToCart('{{this._id}}')">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                                </a>

                {{/each}}




            
                              
            
        </div>
    </div>
      </div>

</section>

{{else}}













<section>
    <div id="view-products">

    <div class="container mt-5">
    <div class="row">
      {{#each product}}
      <a href="/view-product/{{this._id}}" >

        <div class="col-md-3 p-3">
            <div class="card" style="width: 15rem; height:24rem;">
  <img class="card-img-top" src="/product-images/{{this._id}}.jpg" alt="Card image cap" style="height:12rem;" onload="checkStock({{this._id}})">
  <div class="card-body">
    <h5 class="card-title">{{this.productName}}</h5>
    <p class="card-text">{{this.productDescription}}</p>
        <h5 class="card-title">{{this.productPrice}}</h5>
 <div id="stockAvailability" name="stockAvailability" >
        <input type="number" id="stockAmount" name="stockAmount" style="display:block" value="{{this.stockAmount}}">
        <h2 id="runningOutOfStock" style="display: none; color:red">Running out of Stock!</h2>
        <h2 id="outOfStock" style="display:none; color:red">Out of Stock</h2>
         </div>
    <button id="{{this._id}}+cartButton" class="btn btn-primary" onclick="addToCart('{{this._id}}')">Add to Cart</button>
  </div>
</div>
        </div>
                    </a>

        {{/each}}

    </div>
    </div>
    </div>

</section>

            {{/if}}
<script>
    
    function checkStock(productId){
            let stockAmount=document.getElementById("stockAmount").value

        console.log('hi qun:',stockAmount)
        if(stockAmount<=10 && stockAmount!=0){
            document.getElementById("runningOutOfStock").style.display="block"
        }else if(stockAmount==0){
            document.getElementById("outOfStock").style.display="block"
            document.getElementById(productId+"cartButton").disabled=true
        }
    }
</script>